*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.app {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: #eb3acd;
}


.app__timer {
    font-size:68px;
    margin-bottom:20px;
}

.app__buttons  {
    display:flex;
    justify-content: center;
}

.app__buttons button {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:16px;
    height: 40px;
    width: 100px;
    margin: 0 5px;
    background-color: #8f2626;
    color: #fff;
    border-radius: 20px;
    border-color: #8f2626;
}



